@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

.pagesStockPriceContainer {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: rgba(252, 252, 252, 0.897);
  flex: 1;
  background-size: contain;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.slide.active {
  flex: 9;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
.logo {
  margin: 15% 0 ;
  font-size: 40px;
  font-weight: bolder;
  color: rgba(252, 252, 252, 0.897);
}
