.calendarInts{
  background-color: white;
  max-width: 800px;
  min-width: 600px;
  display: flex;
  justify-content: center;
  gap:5px;
  flex-wrap: wrap;
}
.calendarInterval{
  padding: 20px 40px;
  background-color:coral;
}
.calendarInterval.chosenInterval{
  background-color: darkkhaki !important;
}
.calendarInterval:not(.chosenInterval):not(.inactiveInterval):hover{
  background-color: darkgoldenrod;
  cursor: pointer;
}

.calendarButtonContainer{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.calendarInterval.inactiveInterval{
  background-color: grey;
}
