.homeServicesImg {
  width: 60%;
  min-height: 300px;
  object-fit:cover;
  max-height: 280px;
  -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
  transform-origin:center;
  transform:perspective(800px) rotateY(25deg);
  transition:0.5s;
}
.homeService {
  max-width:400px;
  max-height:350px;
  display:flex;
  justify-content:flex-start;
  flex-direction: column;
  align-items:center;
  gap:20px;
}
.homeService:hover img {
  opacity:0.3;
  cursor: pointer;
}
.homeService img:hover {
  transform:perspective(800px)       rotateY(0deg);
  opacity:1;
}

.homeService h3 {
  cursor: pointer;
}

.homeService p {
  text-align: center;
  width: 80%;
}
